<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TempWatch Splash Screen</title>
        <!-- Link to external CSS file -->
        <link rel="stylesheet" href="splash.css">
    </head>
            <body>

            <div id="splashScreen">
                <!-- Logo TempWatch -->
                <img src="Logotw.png" alt="TempWatch Logo" class="logo">
                <!-- Description Text -->
                <p class="description">Platform pengawasan suhu secara real time mendeteksi abnormal suhu<br>by PT Astra Daihatsu Motor Casting Plant</p>
            </div>
            <!-- Link to JavaScript for fade-out effect -->
            <script src="splash.js"></script>

        </body>
</html>